<div class="container text-center">
    <div class="containerText bg-dark rounded p-5">
        <h1><strong>WELCOME TO THE STAR WARS STARSHIPS WIKI PAGE!</strong></h1>
        <h3 class="pt-3">In this page you will find whatever infomation about Star Wars and all the starships of the saga you know or that you want to know.</h3>
        <h2>If you want to know more click the button under that text.</h2>
        <button class="mt-3 btn btn-primary btn-lg" (click)="goToPage('starships')">Go to starships data base!</button>
    </div>
</div>

